{% extends "app/layout.html" %}

{% block content %}
<br>
<h2>{{ title }}</h2>
<hr/>
<h3>{{ message }}</h3>

        <p>
            Вы сейчас подумали "очередное агенство по продаже земли"? Нет!
            Сейчас, и только сейчас, мы предлагаем вам приобрести землю на Луне, Марсе
            или любом другом небесном теле!
        </p>
        <p id="p1">
            <i>
                А если по какой-то причине наша вселенная вас
                не интересует - не беда! Потому что мы предоставляем и эксклюзивную услугу по
                приобретению земельного участка в других вселенных!
            </i>
        </p>
        <br>
        <strong>Наше агенство предоставляет следующие услуги:</strong>
        <ul style="list-style-type:circle;" id="p2">
            <li>Приобретение земельного участка в нашей вселенной</li>
            <li>Приобретение земельного участка в другой вселенной</li>
            <li>Услуги партнерства</li>
            <li>Рекламные услуги</li>
        </ul>

{% endblock %}
