{% extends "app/layout.html" %}
{% block content %}
<br>
<h2>{{ post.title }}</h2>
<hr/>

{% if post.image and post.image.url != '/media/temp.jpg' %}
    <img src="{{ post.image.url }}" alt=" Картинка статьи блога" /> 
{% endif %}


<p>{{ post.content|linebreaksbr }}</p>
<p><a href="{% url 'blog' %}" class="btn btn-default">Назад</a></p>
<hr/>
{% if user.is_authenticated %}
    <h3>Добавить комментарий</h3>
    <form method="POST" >{% csrf_token %} 
    <div>
        {{form.as_p}}
        <button type="submit" class="btn btn-default" > Отправить комментарий </button>
    </div>
    </form>
    
{% else %}
    <h3> Для добавления своего комментария, пожалуйста, авторизуйтесь </h3>
{% endif %}

{% for comment in comments %}
<hr/>
<h7> {{comment.date}} </h7>
<h5> {{comment.author}} </h5>
<p> {{comment.text|linebreaksbr}} </p>
{% endfor %}

{% endblock %}